/* Styles for Fuel Consumption Calculator */

/* Body and container */

.fuelType {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

nav li { list-style-type: none; }

a {
  text-decoration: none;
  color: white;
}
nav {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: auto;
  display: table;
  line-height:  30px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 15px;
  text-align: center;
  background-color: #007bff;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-bottom: 2%;
}

h1 {
  text-align: center;
}

/* Input fields */
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Calculate button */
button {
  width: auto;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Result */
.result {
  color: red;
  background-color: #007bff;
  opacity: 65%;
  padding: 2%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
.error {
  color: red;
}

.about {
  font-family: Arial, sans-serif;
  text-align: center;
  font-weight: normal;
}

.butt {
  padding: 2%;
  text-align: center;
}
iframe {
  text-align: center;
  width: 100%;
  height: 61vh;
  border: none;
}